@import "../../vars.css";

#coverAbout {
  margin-top: 70px;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/assets/images/About/cover-about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coverAbout h1 {
  font-size: 60px;
  letter-spacing: 10px;
  text-shadow: 1px 5px 10px rgb(76, 74, 74);
}

/* card about */

#cardAbout {
  display: flex;
  justify-content: center;
  transform: translateY(-45%);
}

#cardAbout ul {
  width: fit-content;
  padding: 1.5rem 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Fifth);
  gap: 5rem;
}

#cardAbout ul li a:hover {
  content: "";
  padding-bottom: 5px;
  border-bottom: 0.18rem solid var(--color-bg);
  transform: scaleX(0);
  cursor: pointer;
}

/* main about */
#main-about {
  height: 100vh;
  padding: 0px 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}
#main-about h2 {
  text-align: left;
  color: #141111;
  font-weight: 600;
}

#main-about p {
  text-align: justify;
  padding-top: 1rem;
  font-size: 18px;
  color: #5b5555;
}

#main-about .grid-kiri {
  margin: 0 4rem;
  padding-right: 4rem;
}

#main-about .grid-kanan img {
  height: 80%;
}

/* visi misi */
#visimisi {
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/assets/images/About/vision-mission.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visimisi .card {
  height: 23rem;
  width: 23rem;
  margin: 2rem;
  background-color: var(--color-Fifth);
  color: var(--color-bg);
  gap: 4rem;
  opacity: 90%;
}

#visimisi .sec-card {
  display: flex;
  gap: 4rem;
}

#visimisi .card-body {
  justify-content: center;
  align-items: center;
}

#visimisi .card-body p {
  text-align: justify;
  padding-top: 1rem;
}

/* tim */
#tim {
  padding: 5rem;
}

#tim .card {
  margin: 3rem;
  width: 18rem;
}

#tim .card-body {
  height: 7rem;
  margin-top: 2rem;
}

#tim h5 {
  font-weight: bold;
  font-size: 1.1rem;
}

/* kontak kami */
#kontak {
  padding: 5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--color-primary);
  border: 1px solid black;
}

.contact .row .map {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
}

.contact .row form .alert {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2rem;
  background-color: #006400;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  color: #fff;
}

.contact .row form .alert span {
  padding-left: 2rem;
}

.contact .row form .alert .close {
  color: #fff;
  position: absolute;
  right: 1rem;
  background: none;
  outline: none;
  border: none;
}

.contact .row form .input-group,
.contact .row form .input-group-pesan {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border: 2px solid #000;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  color: #000;
  padding: 2rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  width: 90%;
}

.contact .row form .input-group-pesan textarea {
  color: #000;
  padding: 2rem;
  font-size: 1.2rem;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  height: 100%;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--color-hover);
  cursor: pointer;
  border-radius: 1rem;
}

.contact .row form .btn:hover {
  background-color: var(--color-bg);
  color: var(--color-hover);
}

.contact .row form .btn.active {
  display: none;
}

.contact .row .loader {
  display: none;
  justify-content: center;
  margin-top: 3rem;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid var(--color-Thrid);
  width: 5rem;
  height: 5rem;
  animation: spinner 1s linear infinite;
}

.contact .row .loader.active {
  display: inline-block;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1800px) {
  #coverAbout {
    height: 80vh;
  }
  #coverAbout h1 {
    font-size: 80px;
    letter-spacing: 10px;
    text-shadow: 1px 5px 10px rgb(76, 74, 74);
    transform: translateY(-50%);
  }
  #cardAbout ul {
    width: fit-content;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Fifth);
    gap: 3rem;
  }

  #cardAbout ul li {
    width: 15rem;
    font-size: 26px;
  }

  /* main about */
  #main-about {
    height: 80vh;
    padding: 80px 90px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
  }
  #main-about h2 {
    text-align: left;
    margin-bottom: 3rem;
    color: #141111;
    font-weight: 600;
    font-size: 50px;
  }

  #main-about p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 27px;
    color: #5b5555;
  }

  #main-about .grid-kiri {
    margin: 0 4rem;
    padding-right: 2rem;
  }

  #main-about .grid-kanan img {
    height: 40em;
  }

  #visimisi {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visimisi .card {
    height: 32rem;
    width: 32rem;
    background-color: var(--color-Fifth);
    color: var(--color-bg);
    gap: 4rem;
    opacity: 90%;
  }

  #visimisi .sec-card {
    gap: 10rem;
    transform: translateY(-4%);
  }

  #visimisi .card-body {
    padding: 2rem;
  }

  #visimisi .card-body h3 {
    font-size: 40px;
  }

  #visimisi .card-body p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 23px;
    font-weight: 100;
  }

  /* tim */
  #tim {
    padding: 7rem;
  }

  #tim .title-tim h2 {
    font-size: 50px;
  }

  #tim .title-tim p {
    font-size: 30px;
  }

  #tim .card {
    margin: 3rem;
    width: 27rem;
  }

  #tim .card-body {
    height: 10rem;
    margin-top: 3rem;
  }

  #tim h5 {
    font-weight: bold;
    font-size: 28px;
  }

  #tim .card-body p {
    font-size: 25px;
  }

  /* kontak kami*/
  #kontak {
    padding: 4rem;
  }

  #kontak h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  /* main about */
  #main-about {
    grid-template-columns: 1fr;
    height: fit-content;
    margin: 4rem 0;
  }
  #main-about h2 {
    text-align: center;
    color: #141111;
    font-weight: 600;
    font-size: 40px;
  }

  #main-about p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 18px;
    color: #5b5555;
  }

  #main-about .grid-kiri {
    margin: 0 3rem;
    padding-right: 0rem;
    justify-content: center;
    align-items: center;
  }

  #main-about .grid-kanan {
    height: 500px;
    order: -1;
  }
  #main-about .grid-kanan img {
    height: 30em;
  }

  /* visi misi */
  #visimisi {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visimisi .card {
    height: 22rem;
    width: 22rem;
    background-color: var(--color-Fifth);
    color: var(--color-bg);
    gap: 2rem;
    opacity: 90%;
  }

  #visimisi .sec-card {
    gap: 4rem;
    transform: translateY(-6%);
  }

  #visimisi .card-body {
    padding: 1rem;
  }

  #visimisi .card-body h3 {
    font-size: 30px;
  }

  #visimisi .card-body p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 15px;
    font-weight: 100;
  }

  /* tim */
  #tim {
    padding: 5.5rem;
  }

  #tim .title-tim h2 {
    font-size: 40px;
  }

  #tim .title-tim p {
    font-size: 20px;
  }

  #tim .card {
    margin: 3rem;
    width: 21rem;
  }

  #tim .card-body {
    height: 7rem;
  }

  #tim h5 {
    font-weight: bold;
    font-size: 23px;
  }

  #tim .card-body p {
    font-size: 20px;
  }

  /* kontak */
  #kontak {
    padding: 3rem;
  }

  #kontak h2 {
    font-size: 40px;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  #coverAbout {
    margin-top: 60px;
    height: 80vh;
  }
  #coverAbout h1 {
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 1px 5px 10px rgb(76, 74, 74);
    transform: translateY(-50%);
  }
  #cardAbout ul {
    width: fit-content;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Fifth);
    gap: 3rem;
    font-size: 12px;
  }

  /* main about */
  #main-about {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  #main-about h2 {
    text-align: center;
    color: #141111;
    font-weight: 600;
    font-size: 32px;
  }

  #main-about p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 15px;
    color: #5b5555;
  }

  #main-about .grid-kiri {
    margin: 0 1rem;
    padding-right: 0rem;
    justify-content: center;
    align-items: center;
  }

  #main-about .grid-kanan {
    height: 300px;
    order: -1;
  }
  #main-about .grid-kanan img {
    height: 100%;
  }

  /* visi misi */
  #visimisi {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visimisi .card {
    height: 15rem;
    width: 15rem;
    background-color: var(--color-Fifth);
    color: var(--color-bg);
    gap: 1rem;
    opacity: 90%;
  }

  #visimisi .sec-card {
    gap: 2rem;
    transform: translateY(-12%);
  }

  #visimisi .card-body {
    padding: 0rem;
  }

  #visimisi .card-body h3 {
    font-size: 22px;
  }

  #visimisi .card-body p {
    text-align: justify;
    padding-top: 0.5rem;
    font-size: 10px;
    font-weight: 100;
  }

  /* tim */
  #tim {
    padding: 6rem;
  }

  #tim .title-tim h2 {
    font-size: 32px;
  }

  #tim .title-tim p {
    font-size: 18px;
  }

  #tim .card {
    margin: 3rem;
    width: 15rem;
  }

  #tim .card-body {
    height: 5rem;
  }

  #tim h5 {
    font-weight: bold;
    font-size: 16px;
  }

  #tim .card-body p {
    font-size: 12px;
  }

  /* kontak */
  #kontak {
    padding: 3rem;
  }

  #kontak h2 {
    font-size: 32px;
  }
  #kontak img {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 426px) {
  #coverAbout {
    height: 50vh;
  }
  #coverAbout h1 {
    font-size: 20px;
    letter-spacing: 10px;
    text-shadow: 1px 5px 10px rgb(76, 74, 74);
    transform: translateY(-100%);
  }

  #cardAbout ul {
    width: fit-content;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Fifth);
    gap: 3rem;
    font-size: 8px;
  }

  /* main about */
  #main-about {
    grid-template-columns: 1fr;
    height: fit-content;
    margin-top: 1rem;
  }
  #main-about h2 {
    text-align: center;
    color: #141111;
    font-size: 20px;
    font-weight: 600;
  }

  #main-about p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 10px;
    color: #5b5555;
  }

  #main-about .grid-kiri {
    margin: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  #main-about .grid-kanan {
    height: 200px;
    order: -1;
  }
  #main-about .grid-kanan img {
    height: 100%;
  }

  /* visi misi */
  #visimisi {
    height: 100%;
  }

  #visimisi .card {
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    padding: 1.3rem;
    margin: 1rem;
    background-color: var(--color-Fifth);
    color: var(--color-bg);
    opacity: 90%;
  }

  #visimisi .sec-card {
    gap: 1rem;
    transform: translateY(-12%);
  }

  #visimisi .card-body h3 {
    font-size: 13px;
    margin-bottom: 3px;
  }

  #visimisi .card-body p {
    text-align: justify;
    padding-top: 1px;
    font-size: 5.5px;
    font-weight: 100;
    margin-bottom: 0;
  }

  /* tim */
  #tim {
    padding: 4rem;
  }

  #tim .title-tim h2 {
    font-size: 20px;
  }

  #tim .title-tim p {
    font-size: 10px;
  }

  #tim .card {
    margin: 3.4rem;
    margin-top: 2rem;
    width: 12rem;
  }

  #tim .card-body {
    height: 4rem;
    padding-top: 0rem;
  }

  #tim h5 {
    font-weight: bold;
    font-size: 12px;
  }

  #tim .card-body p {
    font-size: 10px;
  }

  /* kontak */
  #kontak {
    padding: 3rem;
  }

  #kontak h2 {
    font-size: 20px;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 20rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .contact .row form .input-group input {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  #coverAbout {
    height: 50vh;
  }
  #coverAbout h1 {
    font-size: 20px;
    letter-spacing: 10px;
    text-shadow: 1px 5px 10px rgb(76, 74, 74);
    transform: translateY(-100%);
  }

  #cardAbout ul {
    width: fit-content;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Fifth);
    gap: 3rem;
    font-size: 8px;
  }

  /* main about */
  #main-about {
    grid-template-columns: 1fr;
    height: fit-content;
    margin-top: 1rem;
  }
  #main-about h2 {
    text-align: center;
    color: #141111;
    font-size: 20px;
    font-weight: 600;
  }

  #main-about p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 10px;
    color: #5b5555;
  }

  #main-about .grid-kiri {
    margin: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  #main-about .grid-kanan {
    height: 200px;
    order: -1;
  }
  #main-about .grid-kanan img {
    height: 100%;
  }

  /* visi misi */
  #visimisi {
    width: 100%;
  }

  #visimisi .card {
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    padding: 1.3rem;
    margin: 1rem;
    background-color: var(--color-Fifth);
    color: var(--color-bg);
    opacity: 90%;
  }

  #visimisi .sec-card {
    gap: 1rem;
    transform: translateY(-12%);
  }

  #visimisi .card-body h3 {
    font-size: 13px;
    margin-bottom: 3px;
  }

  #visimisi .card-body p {
    text-align: justify;
    padding-top: 1px;
    font-size: 5.5px;
    font-weight: 100;
    margin-bottom: 0;
  }

  /* tim */
  #tim {
    padding: 4rem;
  }

  #tim .title-tim h2 {
    font-size: 20px;
  }

  #tim .title-tim p {
    font-size: 10px;
  }

  #tim .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3.4rem;
    margin-top: 2rem;
    width: 12rem;
  }

  #tim .card-body {
    height: 4rem;
    padding-top: 0rem;
  }

  #tim h5 {
    font-weight: bold;
    font-size: 12px;
  }

  #tim .card-body p {
    font-size: 10px;
  }

  /* kontak */
  #kontak {
    padding: 3rem;
  }

  #kontak h2 {
    font-size: 20px;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}
