@import "../../../vars.css";

.menu {
  margin-top: 5rem;
  padding: 0;
}

.menu_title {
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.menu h2 {
  font-weight: 600;
  margin-top: 1rem;
}

.menu-card h3 {
  color: var(--color-bg);
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.menu-card p {
  color: var(--color-bg);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.menu .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2em;
  margin: 0 7rem;
  padding-bottom: 4rem;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.2rem 0;
  border-radius: 1.4rem;
  text-decoration: none;
}

#jawa {
  background-image: url(../src/assets/Home/city/Jawa.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#sumatra {
  background-image: url(../src/assets/Home/city/Sumatra.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#kalimantan {
  background-image: url(../src/assets/Home/city/Kalimantan.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#sulawesi {
  background-image: url(../src/assets/Home/city/Sulawesi.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#papua {
  background-image: url(../src/assets/Home/city/Papua.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bali {
  background-image: url(../src/assets/Home/city/Bali.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.menu-card:hover {
  transform: scale(1.12);
}

@media screen and (max-width: 1024px) {
  .menu {
    margin-top: 3.5rem;
    padding: 0;
  }

  .menu_title {
    padding-left: 3.5rem;
    margin-bottom: 3rem;
    gap: 1.3rem;
  }

  .menu h2 {
    font-weight: 600;
    margin-top: 1rem;
  }

  .menu-card h3 {
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.15em;
  }

  .menu .row {
    gap: 2em;
    margin: 0 7rem;
    padding-bottom: 6rem;
  }

  .menu-card {
    padding: 4.3rem 0;
    border-radius: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin-top: 3.5rem;
    padding: 0;
  }

  .menu_title {
    padding-left: 3rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
  }

  .menu h2 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 1rem;
  }

  .menu-card h3 {
    font-size: 2.2rem;
    letter-spacing: 0.15em;
  }

  .menu-card p {
    color: var(--color-bg);
    font-size: 0.9rem;
  }

  .menu .row {
    gap: 1.5em;
    margin: 0 8rem;
    padding-bottom: 6rem;
  }

  .menu-card {
    padding: 4.3rem 0;
    border-radius: 1.4rem;
  }
}

@media screen and (max-width: 426px) {
  .menu {
    margin-top: 2rem;
    padding: 1rem;
  }

  .menu_title {
    padding-left: 2rem;
    margin-bottom: 1rem;
    gap: 20px;
  }

  .menu_title img {
    width: 30px;
  }

  .menu h2 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 1rem;
    text-align: left;
  }

  .menu-card h3 {
    font-size: 1.2rem;
    letter-spacing: 0.15em;
  }

  .menu-card p {
    font-size: 0.5rem;
  }

  .menu .row {
    gap: 1.5em;
    margin: 0 5rem;
    padding-bottom: 3rem;
  }

  .menu-card {
    padding: 2.8rem 0rem;
    width: fit-content;
    border-radius: 1.4rem;
  }

  #jawa,
  #sumatra,
  #kalimantan,
  #sulawesi,
  #papua,
  #bali {
    width: 80%;
  }
}

@media screen and (max-width: 321px) {
  .menu {
    margin-top: 0.5rem;
    padding: 0;
  }

  .menu_title {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    gap: 20px;
  }

  .menu_title img {
    width: 20px;
  }

  .menu h2 {
    font-weight: 600;
    font-size: 13px;
    margin-top: 1rem;
    text-align: left;
  }

  .menu-card h3 {
    font-size: 1rem;
    letter-spacing: 0.15em;
    margin-bottom: 0.2rem;
  }

  .menu-card p {
    font-size: 0.5rem;
    margin-bottom: 0rem;
  }

  .menu .row {
    gap: 1em;
    margin: 0 3.5rem;
    padding-bottom: 3rem;
  }

  .menu-card {
    padding: 2rem 0rem;
    width: fit-content;
  }

  #jawa,
  #sumatra,
  #kalimantan,
  #sulawesi,
  #papua,
  #bali {
    width: 60%;
  }
}
